.App {
  text-align: center;
  display: flex;
  align-items: center;
}

button {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  font-size: 125%;
  color: white;
}

p {
  font-size: 110%;
}

.new-note-header {
  padding: 30px;
}

.new-title {
  padding-bottom: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.notes-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  padding-top: 250px;
}

.home-header {
  justify-content: center;
  background-color: whitesmoke;
  width: 1000px;
  padding: 30px;
  position: fixed;
  z-index: 1;
  top: 0;
}

.header-title {
  padding-bottom: 20px;
}

.home-button {
  background-color: teal;
}

.add-button {
  background-color: limegreen;
}

.save-button {
  background-color: limegreen;
}

.delete-button {
  background-color: firebrick;
}

.button-toolbar {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
